{% extends 'base.html' %}


{% block content %}
{{ super() }}

<div id="leftbar">
    <div class="aside">

        <ul>
            <h3>Navigation:</h3>
            <a href="#game">
                <li><i class="fa fa-gamepad" aria-hidden="true"></i> Підтримуйте Запал Гри</li>
            </a>
            <a href="#chara">
                <li><i class="fa fa-cog" aria-hidden="true"></i> Характеристики</li>
            </a>

        </ul>
    </div>


</div>

<div id="rightbar">

    <h1 class="title-0-2-117">Ноутбук Acer Predator Helios 300 PH315-55s-90ZW Abyssal Black (NH.QJ1EU.003)</h1>

    <hr>

    <div class="productDescription-0-2-248 basePadding-0-2-249 product__description container base-padding">
        <div>
            <div class="container_rith" oncontextmenu="return false;" oncopy="return false" onmousedown="return false">
                <h3 id="game" style="text-align: center;">ПІДТРИМУЙТЕ ЗАПАЛ ГРИ</h3>

                <p style="text-align: center;">Одягніть екіпірування, пристебніть ремені – і нехай Helios прокладе шлях.
                    Цей ігровий ноутбук обладнаний чудовою технологією охолодження, неймовірно швидким дисплеєм і рядом
                    функцій для покращення продуктивності, тому стане вашим путівником для насолоди від ігор.</p>

                <div align="center"><img alt=""
                                         src="https://i.citrus.world/uploads/content/product-photos/topchiy/August-2022/August-2-2022/notebook_708916_10.jpg"
                                         style="width: 1165px;"></div>

                <h3 style="text-align: center;">ЗАВОДЬТЕ ДВИГУНИ</h3>

                <p style="text-align: center;">Цей ноутбук із процесором Intel Core i9&nbsp;12-го покоління із новою
                    високоефективною гібридною архітектурою візьме вашу ігротеку, покладе перед вами і кине виклик.*</p>

                <div align="center"><img alt=""
                                         src="https://i.citrus.world/uploads/content/product-photos/topchiy/August-2022/August-2-2022/notebook_708916_11.jpg"
                                         style="width: 1165px;"></div>

                <h3 style="text-align: center;">СТВОРЕНО ДЛЯ ІГОР НОВОГО ПОКОЛІННЯ</h3>

                <p style="text-align: center;">Процесори Intel Core 12-го покоління забезпечують чудові ігри, гарантуючи
                    гнучкість для плавної багатозадачності. Нова інноваційна архітектура підбирає відповідне робочому
                    навантаженню ядро, тому фонові завдання не перериватимуть вашу гру, забезпечуючи свободу
                    спілкування, перегляду, потокової передачі, редагування, запису і відтворення без жодних
                    зупинок.</p>

                <div align="center"><img alt=""
                                         src="https://i.citrus.world/uploads/content/product-photos/topchiy/August-2022/August-2-2022/notebook_708916_12.jpg"
                                         style="width: 1165px;"></div>

                <h3 style="text-align: center;">NVIDIA GEFORCE RTX СЕРІЇ 30</h3>

                <p style="text-align: center;">Найновіша графічна карта працює на базі архітектури NVIDIA 2-го покоління
                    Gen RTX Ampere для забезпечення найреалістичнішої графіки з трасуванням променів і найсучасніших
                    функцій штучного інтелекту, таких як NVIDIA DLSS. Нові технології Max-Q також використовують ШІ для
                    виготовлення тонких високопродуктивних ноутбуків, які були б швидшими й кращими, ніж будь-коли.*</p>

                <div align="center"><img alt=""
                                         src="https://i.citrus.world/uploads/content/product-photos/topchiy/August-2022/August-2-2022/notebook_708916_13.jpg"
                                         style="width: 1165px;"></div>

                <h3 style="text-align: center;">УДОСКОНАЛЕНЕ ОХОЛОДЖЕННЯ</h3>

                <p style="text-align: center;">Надпотужний ігровий ноутбук Helios 300 містить лише найкраще, сучасне
                    охолодження – спеціально розроблену технологію вентилятора AeroBlade 3D 5-го покоління та рідку
                    металеву термопасту для охолодження провідного в галузі центрального процесора Intel 12го
                    покоління.</p>

                <div align="center"><img alt=""
                                         src="https://i.citrus.world/uploads/content/product-photos/topchiy/August-2022/August-2-2022/notebook_708916_14.jpg"
                                         style="width: 1165px;"></div>

                <h3 style="text-align: center;">КЛАВІШІ ДЛЯ ПОВНОГО КОНТРОЛЮ</h3>

                <p style="text-align: center;">RGB-клавіатура з підсвіткою кожної клавіші&nbsp;виблискуватиме разом із
                    підсвіткою панелі Mini LED, що є яскравішою, вимагає менше енергії та має більш однорідні кольори (з
                    меншим ореолом), ніж конкуренти без Mini LED. Отримайте доступ до PredatorSense™ для додаткової
                    персоналізації RGB на власний смак.*</p>

                <div align="center"><img alt=""
                                         src="https://i.citrus.world/uploads/content/product-photos/topchiy/August-2022/August-2-2022/notebook_708916_16.jpg"
                                         style="width: 1165px;"></div>

                <h3 style="text-align: center;">ПЕРСОНАЛІЗАЦІЯ ЗА ДОПОМОГОЮ PREDATORSENSE</h3>

                <p style="text-align: center;">Відкрийте PredatorSense, щоб змішувати та зіставляти кольори відповідно
                    до настрою. Незалежно від того, чи бажаєте ви налаштувати RGB через освітлення Pulsar для певної
                    теми, керувати розгоном або максимально збільшити швидкість вентиляторів – ви можете робити це все з
                    однієї легкодоступної програми.</p>

                <div align="center"><img alt=""
                                         src="https://i.citrus.world/uploads/content/product-photos/topchiy/August-2022/August-2-2022/notebook_708916_17.jpg"
                                         style="width: 1165px;"></div>

                <h3 style="text-align: center;">УСУНЕННЯ ЗАТРИМКИ</h3>

                <p style="text-align: center;">Маючи контролер Intel® Killer™ E2600 Ethernet Controller, Intel® Killer™
                    Wi-Fi 6 AX1675i та підтримку частотного діапазону Wi-Fi 6E, у вас є всі інструменти, потрібні для
                    онлайн-конкуренції.</p>

                <div align="center"><img alt=""
                                         src="https://i.citrus.world/uploads/content/product-photos/topchiy/August-2022/August-2-2022/notebook_708916_18.jpg"
                                         style="width: 1165px;"></div>

                <h3 style="text-align: center;">ЗАЛИШАЙТЕСЯ НА ЗВ’ЯЗКУ</h3>

                <p style="text-align: center;">Під’єднуйте будь-які периферійні пристрої до найрізноманітніших роз’ємів,
                    зокрема HDMI 2.1, MiniDP та повного асортименту USB 3.2 із підтримкою Gen1 і 2. Thunderbolt™ 4 також
                    підтримує функції DisplayPort та Power Delivery3, а найновіша специфікація HDMI 2.1 дозволяє
                    використовувати зовнішній дисплей, як-от 4K при 120 Гц.*</p>

                <div align="center"><img alt=""
                                         src="https://i.citrus.world/uploads/content/product-photos/topchiy/August-2022/August-2-2022/notebook_708916_19.jpg"
                                         style="width: 1165px;"></div>

                <h3 style="text-align: center;">DTS:X® ULTRA</h3>

                <p style="text-align: center;">Перетворіть будь-які навушники чи гучномовці на прогресивну систему
                    об’ємного звучання на 360° – насолоджуйтеся улюбленими фільмами, музикою та іграми з природним
                    просторовим звучанням.</p>

                <div align="center"><img alt=""
                                         src="https://i.citrus.world/uploads/content/product-photos/topchiy/August-2022/August-2-2022/notebook_708916_20.jpg"
                                         style="width: 1165px;"></div>

                <p><sup><span style="color: #959595; font-size: 8pt;">*</span></sup><span
                        style="color: #959595; font-size: 8pt;">Технічні характеристики залежать від конкретної моделі.</span>
                </p>

                <p><sup><span style="color: #959595; font-size: 8pt;">**</span></sup><span
                        style="color: #959595; font-size: 8pt;">Всі зображення наведені в якості ілюстрації продукту. Фактичний вид і дизайн можуть відрізнятися в залежності від характеристик конкретної моделі.</span>
                </p>
            </div>
        </div>
    </div>

    <hr>

    <div class="characteristics">

        <h3 id="chara">Технічні
            характеристики<span> Ноутбук Acer Predator Helios 300 PH315-55s-90ZW Abyssal Black (NH.QJ1EU.003)</span>
        </h3>

        <div class="characteristics">
            <div class="dg mt32 characteristicsContainer-0-2-291">
                <div class="df">
                    <div class="full-height df mr8"><img
                            src="https://i.citrus.world/uploads/icons/icons-fast-specs/laptop/ic_diagonal_laptop1.svg"
                            alt="Розмір екрану" width="40" height="40"></div>
                    <div class="pt4"><p class="fz12 name-0-2-292">Розмір екрану</p>
                        <p class="fz12">15,6"</p></div>
                </div>
                <div class="df">
                    <div class="full-height df mr8"><img
                            src="https://i.citrus.world/uploads/icons/icons-fast-specs/laptop/ic_processor_laptop1.svg"
                            alt="Тип процесора" width="40" height="40"></div>
                    <div class="pt4"><p class="fz12 name-0-2-292">Тип процесора</p>
                        <p class="fz12">Intel Core i9-12900H</p></div>
                </div>
                <div class="df">
                    <div class="full-height df mr8"><img
                            src="https://i.citrus.world/uploads/icons/icons-fast-specs/laptop/ic_ram_laptop1.svg"
                            alt="Розмір оперативної пам'яті" width="40" height="40"></div>
                    <div class="pt4"><p class="fz12 name-0-2-292">Розмір оперативної пам'яті</p>
                        <p class="fz12">32 Гб</p></div>
                </div>
                <div class="df">
                    <div class="full-height df mr8"><img
                            src="https://i.citrus.world/uploads/icons/icons-fast-specs/laptop/ic_memory_laptop1.svg"
                            alt="Об'єм накопичувача" width="40" height="40"></div>
                    <div class="pt4"><p class="fz12 name-0-2-292">Об'єм накопичувача</p>
                        <p class="fz12">2 Тб</p></div>
                </div>
                <div class="df">
                    <div class="full-height df mr8"><img
                            src="https://i.citrus.world/uploads/icons/icons-fast-specs/laptop/ic_video_laptop1.svg"
                            alt="Відеопроцесор" width="40" height="40"></div>
                    <div class="pt4"><p class="fz12 name-0-2-292">Відеопроцесор</p>
                        <p class="fz12">NVIDIA GeForce RTX 3080</p></div>
                </div>
                <div class="df">
                    <div class="full-height df mr8"><img
                            src="https://i.citrus.world/uploads/icons/icons-fast-specs/notebooks/ic_os_24px.svg"
                            alt="Операційна система" width="40" height="40"></div>
                    <div class="pt4"><p class="fz12 name-0-2-292">Операційна система</p>
                        <p class="fz12">Windows 11 Home</p></div>
                </div>
            </div>
        </div>
    </div>

    <hr>

</div>
{% endblock %}