body {
    padding: 0;
}

/* --- Header Section --- */
#header {
    background: rgb(200, 238, 246);
    height: 72px; /* content */
    width: 100%;
}

.head1 {
    font-size: 32px;
    color: #009900;
    font-weight: bold;
}

.head2 {
    font-size: 12px;
    margin-left: 10px;
    margin-bottom: 15px;
}

/* --- Menu Navigation Bar --- */
.menu {
    position: sticky;
    top: 0;
    background-color: #009900;
    padding: 2px 0 2px 0;
    color: white;
    margin: 0 auto;
    overflow: hidden;
}

.menu a {
    float: left;
    color: white;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 14px;
}

.menu-log {
    right: auto;
    float: right;
}


/* --- Body section --- */
#content {
    position: absolute;
    width: 100%;
    top: 100px; /* header */
    bottom: 35px; /* footer */
}


#leftbar {
    background-color: #65a4ac;
    position: absolute;
    width: 200px;
    height: 100%;
    overflow: auto;
}


#rightbar {
    background-color: #ffffff;
    padding-left: 200px;
    height: 100%;
    overflow: auto;
}


/* --- Сharacteristics briefly --- */
.characteristics {
    width: 900px;
    margin: 0 auto 0 auto;
    align-content: center;
}

.characteristicsContainer-0-2-291 {
    gap: 16px;
    line-height: 16px;
    letter-spacing: 0.3px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.dg {
    display: grid;
}

/* --- Menu Navigation --- */



.aside h3 {
    margin-top: 100px;
    margin-left: 1px;
    font-size: 25px;
}


.aside ul { list-style: none}
.aside ul li {
    color: #013b44;
    display: block;
    margin-top: 15px;
    margin-left: -15px;
    font-size: 20px;
    transition: transform .6s ease;
}

.aside ul li:hover, aside ul a:hover {
    color: cyan;
    text-decoration: none;
    transform: scale(1.05);
}




/* --- Login Form --- */
#login_form {
    width: 450px;
    margin: 20px auto 100px auto;

}

input[type=text], input[type=password] {
    width: 100%;
    padding: 16px 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #8ebf42;
    color: white;
    padding: 14px 0;
    margin: 10px 0;
    border: none;
    cursor: grabbing;
    width: 100%;
}

h1 {
    text-align: center;
    fone-size: 18;
}

button:hover {
    opacity: 0.8;
}

.formcontainer {
    text-align: left;
    margin: 24px 10px 20px;
}

.container {
    padding: 16px 0;
    text-align: left;
}

span.psw {
    float: right;
    padding-top: 0;
    padding-right: 15px;
}

/* --- Registration Form --- */
#reg_form {
    width: 350px;
    margin: 20px auto 0 auto;
    padding: 10px;
    background: #fff;
    box-shadow: 10px 10px 20px #aaa;
}

ul.reg_list {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.reg_list li {
    margin: 10px 0 10px 0;
}

.reg_title {
    display: inline-block;
    min-width: 100px;
}

input.reg_input {
    width: 210px;
    height: 5px;
    border: none;
    border-bottom: 1px solid #aaa;
    font-size: 16px;
}

input.reg_input:focus {
    border-bottom: 1px solid #39b54a;
}

.reg_select {
    width: 210px;
    font-size: 14px;
    background: cornsilk;
}

.reg_argee {
    font-size: 12px;
}

textarea {
    font-size: 18px;
    color: #096407;
    max-width: 330px;
    max-height: 100px;
}

#reg_control {
    overflow: hidden;
    margin-top: 30px;
}

input.reg_button {
    background: #ffcc66;
    font-size: 18px;
    color: #333333;
    padding: 5px;
    border: 1px solid #FFCF11;
    border-radius: 5px;
}


/* --- Footer Section --- */
#footer {
    position: absolute;
    height: 35px; /* content */
    width: 100%;
    bottom: 0;
    background-color: rgb(1, 59, 68);
    color: #fff;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
}

#footer li {
    list-style: none;
    margin: 2px 0 2px 0;
}